<html>

<head>
    <Title>
        Article | Create
    </Title>
</head>

<body>
    <form method="POST" action="/articles">
        <label for="title">
            Title
        </label>
        <br>
        <input type="text" name="title">
        <br>

        <label for="body">
            Body
        </label>
        <br>
        <input type="text" name="body">
        <br>

        <button type="submit">
            Submit
        </button>
    </form>
</body>

</html>